# Copy this to .env and set secure values before running
MSSQL_HOST=mssql
MSSQL_DB=CodeDb
MSSQL_USER=sa
MSSQL_PASSWORD=Your_strong_password123

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

JUDGE0_DB_NAME=judge0
JUDGE0_DB_USER=judge0
JUDGE0_DB_PASSWORD=judge0
